[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
requests = "*"
structlog = "*"
pydantic = "*"
yarl = "*"

[dev-packages]
pre-commit = "*"
bump2version = "*"
"collective.checkdocs" = "*"
restview = "*"
pygments = "*"
mypy = "*"
uberlogging = "*"

[requires]
python_version = "3.8"
